<!DOCTYPE html>
<html>
    <div class = "home">
        <div>
        <head>
            <title>Home Page</title>
            <link rel = "stylesheet" href="Login.css">
            <a href = "AddCalendar.html">Add Calendar</a>
        </head>
        <body>
            <h3>Home Page</h3>
            <div class="calendarFormat">
            <p id = "rcorners3"><a href = "CalendarPage.html">Calendar Name</a></p>
            </div>
        </div>
        
        <div class = "ToDoBox">
            
            <h1 style = "text-align: center;">To-Do list</h1>
            <a href = "AddToDoTask.html">Add task</a>
            
        </div>
    </div>
        </body>
</html>
