<!DOCTYPE html>
<head>
    <title>Sign up page</title>
    <link rel = "stylesheet" href = "login.css">
</head>
<body>
    <form>
        <div class = "previousPage">
            <a href = "Login.html">Previous Page</a>
        </div>
        
        <h4>First name</h4>
        <div class = "textbox">
                    <input type="text" placeholder = "First name" id = "first_name">
        </div>
        <h4>Last name</h4>
        <div class = "textbox">
                    <input type="text" placeholder = "Last name" id = "last_name">
        </div>
        <h4>Email address</h4>
        <div class = "textbox">
                    <input type="text" placeholder = "Email address" id = "email">
        </div>
        <h4>Phone number</h4>
        <div class = "textbox">
                    <input type="text" placeholder = "Phone Number" id = "phone_number">
        </div>
        <h4>Username</h4>
        <div class = "textbox">
                    <input type = "text" placeholder = "Username" id = "username">
        </div>
        <h4>Password</h4>
        <div class = "textbox">
                    <input type = "password" placeholder = "Password" id = "password1">
        </div>
        <h4>Re-enter password</h4>
        <div class = "textbox">
                    <input type = "password" placeholer = "Re-enter password" id = "password2">
        </div>
    </br>
        <button onclick = "validate()" class = "loginBtn" id = "submitButton">Submit</button>
        <script>
            document.getElementById("submitButton").onclick = 
            function validate() 
            {
                const pass1 = document.getElementById("password1").value;
                const pass2 = document.getElementById("password2").value;
                const firstName = document.getElementById("first_name").value;
                const lastName = document.getElementById("last_name").value;
                const email = document.getElementById("email").value;
                const phoneNum = document.getElementById("phone_number").value;
                const userName = document.getElementById("username").value;
                let permanentPassword;

                if((firstName == "") || (lastName == "") || (email == "") || (phoneNum == "") || (userName == ""))
                {
                    alert("One or more fields is empty!");
                }
                else
                {
                    if(pass1.length < 8 ) 
                    {
                        alert("Password is not long enough");
                    } 
                    else if(pass1 != pass2) 
                    {
                        alert("Passwords do not match");
                    } 
                    else 
                    {
                        alert("Passwords match!");
                        permanentPassword = pass1;
                        window.open('HomePage.html', 'newwindow');
                    }
                }
            }
            
        </script>
    </form>
</body>